.post{
    width: 150px;
    margin : 0px 25px 40px 25px ;
    cursor: pointer;
    height: 340px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}

.postImage{
    top: 0;
    align-items: center;
    margin: auto;
    /* border: 1px solid black; */
    justify-content: center;
    width: 100%;
}

.postImg{
    top: 0;
    align-items: center;
    border-radius: 5px;
    /* width: 100%; */
    width: 100%;
    height:170px;
    
} 


/* img.imgPost{
    justify-content: center;
    margin: auto;
    padding: auto;
    border: 1px solid black;
} */



.postInfo{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: start;
    justify-content: center;
    bottom: 0;
    margin-bottom: 0;
    width: 150px;
}

.postCats{
    font-family: "Varela Round", sans-serif;
    font-size: 15px;
    color : coral;
    line-height: 20px;
    margin-top: 0px;
    font-style: italic;
  
}

.postTitle{
    padding-top: 10px;
    font-size: 15px;
    font-family: "Josepin Sans" , sans-serif;
    font-weight: 400;
    padding-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 150px;
    margin-bottom: 5px;


}

.postDate{
    font-family: "Lora" serif;
    font-style: italic;
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}

.postDesc{
    /* border: 1px solid black; */
    font-family: "Varela Round" , sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 24px;
    margin-top: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 150px;
    margin-bottom: 0px;
    bottom: 0;
    
}
.btnDiv{
    margin-top: 100px;
    /* border: 1px solid black; */
    margin-bottom: -100px;
    bottom: 0;
    justify-content: center;
    margin: auto;
}
.btnRead{
margin-bottom: 0px;
bottom: 0;
height: 30px;
border-radius: 4px;
width: 80%;
border: none;
background-color: skyblue;
margin: auto;
justify-content: center;
margin-left: 15px;

}